DirectoryIndex monApplication.php

<ifModule mod_headers.c>
# YEAR
<FilesMatch "\.(ico|gif|jpg|jpeg|png|flv|pdf)$">
  Header set Cache-Control "max-age=29030400"
</FilesMatch>
# WEEK
<FilesMatch "\.(js|css|swf)$">
  Header set Cache-Control "max-age=604800"
</FilesMatch>
# 45 MIN
<FilesMatch "\.(html|htm|txt)$">
  Header set Cache-Control "max-age=2700"
</FilesMatch>
</ifModule>

#Options +MultiViews
#RewriteEngine On

#RewriteBase /~uapv1701795/squelette/

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} ^/([^/]+?)/?$
#RewriteCond %{DOCUMENT_ROOT}/%1.php -f
#RewriteRule ^(.+?)/?$ /$1.php [L]


Options -Indexes
ErrorDocument 403 /~uapv1701795/patterns/403.html
ErrorDocument 404 /~uapv1701795/patterns/404.html
