DirectoryIndex monApplication.php

#Options +MultiViews
#RewriteEngine On

#RewriteBase /~uapv1701795/squelette/

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} ^/([^/]+?)/?$
#RewriteCond %{DOCUMENT_ROOT}/%1.php -f
#RewriteRule ^(.+?)/?$ /$1.php [L]


Options -Indexes
ErrorDocument 403 /~uapv1701795/patterns/403.html
ErrorDocument 404 /~uapv1701795/patterns/404.html
