/**
 * @Author: uapv1701795
 * @Date:   2018-11-19T02:00:50+01:00
 * @Last modified by:   uapv1701795
 * @Last modified time: 2018-11-26T14:23:19+01:00
 */



@font-face {
	font-family: 'rosettaIconFont';
	src: url(../fonts/rosetta-icons-Regular.woff);
	src: url(../fonts/rosetta-icons-Regular.ttf);
}

html, body {
    font-family: 'Raleway', sans-serif;
    background-color: #d9d8df;
    color: rgba(0,0,0,0.8);
}

.bg-light {
  background-color: #fbf9fb!important;
}

.nav-link {
  color:#45324d;
}

.shadow {
    box-shadow: 0 2px 0px rgba(0,0,0,.15)!important;
}

.dashboard-left {
  margin-top: 8px;
  min-width: 300px;
}

.dashboard-left.mob-hidden {
	display: none;
}

.BProfile {
  padding: 8px;
	position: sticky;
	top: 48px;
  /*border-radius: 16px;
  background-color: rgba(251, 249, 251, 0.5);*/
}
.BSug {
	display: none;
	padding-top: 0px;
}

.BSug .list-group .list-group-item {
	animation: fadeIn 0.6s ease forwards;
}

.suggestions {
  padding: .5rem 1rem;
}

.ekko-lightbox {
  overflow: hidden !important;
}

.post-image {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
  /* max-width: 312px; */
  max-height: 384px;
  /* border: 1px solid rgba(0,0,0,0.1); */
  opacity: .8;
}

.post-image-align {
	width: 100%;
  height: 100%;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  flex-direction: column;
  color: -webkit-link;
  cursor: pointer;
  max-height: 256px;
	overflow: hidden;
}

.post-image-contain {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
	display: ruby-base;
	display: contents;
}

.post-img {
  width: 100%;
  top: -0px;
  position: relative;
  display: block;
  max-width: 100%;
}

.posts-main {
  margin-top: 16px;
  background-color: rgba(251, 249, 251, 0.5);
  border-radius: 4px;
  min-width: 300px;
  margin-bottom: 16px;
	animation: slide-upper 0.4s ease;
}

.SProfileCover {
  background-color: #aaa3af;
  background-image: url(https://pbs.twimg.com/profile_banners/2763154210/1507469504/600x200);
  background-size: 100%;
  height: 96px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: 0 50%;
  width: 100%;
  padding: 0;
  transition: background-size .6s ease-in-out;
}

.compose {
  margin-top: 8px;
}

.post {
  margin-top: 8px;
  margin-bottom: 8px;
}

.container-fluid {
  padding-top: 80px;
  transition: width .6s ease-in-out;
}

.notifier-footer {
	position: sticky;
	bottom: 0;
  z-index: 9999;
}

.notifier-footer .alert {
	width: 100%;
	animation: slide-up 0.4s ease;
}

.nav-avatar {
	height: 32px;
	line-height: 48px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: flex;
	line-height: 32px;
}

.nav-avatar .avatar-image {
    width: 32px;
    height: 32px;
}

.card-title {
	max-height: 28px;
	overflow: hidden;
}

.nav-avatar .card-title {
	line-height: 32px;
}

.card-title a, .card-title a:hover {
  color: inherit;
}

.nav-avatar .name-container {
	padding-right: 12px;
}

.nav-icon {
	width: 36px;
	height: 36px;
	line-height: 40px;
	flex-grow: 1;
	margin: 0 8px;
	margin-top: 4px;
	border-bottom: 0px solid rgba(255, 255, 255, 0);
	transition: border-bottom .2s ease-in-out;
}
.nav-icon:hover {
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
		transition: all .2s ease-in-out;
		cursor: pointer;
}
.nav-icon.selected:hover {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
		transition: all .2s ease-in-out;
		cursor: pointer;
}

.nav-icon.selected {
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
		transition: all .2s ease-in-out;
}

.nav-icon svg {
  vertical-align: unset;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

.svg-icon-home-1, .svg-icon-home-2, .svg-icon-chats-1, .svg-icon-chats-2, .svg-icon-friends-1, .svg-icon-friends-2 {
	transform-origin: center;
	transition: all .4s ease-in-out;
}

.nav-icon:hover .svg-icon-home-2 {
	transform: translateY(1px);
	transition: all .2s ease-in-out;
}
.nav-icon:hover .svg-icon-chats-1 {
  transform: translate(-1px, -1px);
	transition: all .2s ease-in-out;
}
.nav-icon:hover .svg-icon-friends-2 {
	transform: rotate(-5deg);
	transform-origin: center;
	transition: all .2s ease-in-out;
}
.nav-icon:hover .svg-icon-friends-1 {
	/*transform: rotate(5deg);*/
	transform-origin: center;
	transition: all .2s ease-in-out;
}

.avatar-dropdown {
    display: flex;
    color: inherit;
    text-decoration: none;
    height: 32px;
    transition: all .2s ease-in-out;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0);
    background-attachment: fixed;
}

.avatar-dropdown::after {
    display: none;
}

.avatar-dropdown:hover {
    color: inherit;
    text-decoration: none;
    background: rgba(0,0,0,.15);
    border-radius: 16px;
    transition: all .2s ease-in-out;
}

.avatar-image {
  background: #eae9ed;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
	user-select: none;
	-webkit-user-drag: none;
  object-fit: cover;
}

.account-small {
  margin-bottom: 12px;
  height: 48px;
}


.dropdown-item.active, .dropdown-item:active {
	color: #fbf9fb;
	background-color: #9a92b8;
	border-color: #9a92b8;
	transition: all .2s ease-in-out;
}

.name-container {
  padding-left: 12px;
  overflow: hidden;
}

.post-actions {
  display: flex;
}
.post-action {
  display: flex;
  margin-left: 4px;
  border-radius: 12px;
  padding-right: 8px;
  padding-left: 2px;
  transition: all .2s ease-in-out;
}
.post-action:hover {
  background: #dad6dd;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.post-date {
  padding-right: 8px;
}

.count {
  margin-left: 4px;
}
.icon-share {
	margin-left: 2px;
}
.share-text {
	display: none;
	margin-left: 0px;
}

.share-link, .share-link:hover {
  color: inherit;
	text-decoration: none;
	display: flex;
}


.affix-top {
	position: sticky;
	top: 40px;
	z-index: 50;
	background: #eae9ed;
	padding: 12px 0px;
}

.action-button {
  margin: 16px 12px;
  padding: 12px;
  background: #f7f7f7;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, .15);
	transition: all .2s ease-in-out;
  outline: none;
}

.action-button:hover {
    cursor: pointer;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, .15);
    /* background: transparent; */
    border: 1px solid #bcabc7;
    transition: all .2s ease-in-out;
    background: #bcabc7;
    /* color: #f7f7f7; */
    /* -webkit-text-fill-color: #f7f7f7; */
    outline: none;
}

.action-button:focus {
    outline: none !important; /* Don't piss me off !*/
}

.navbar-right {
  flex-grow: 1;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.alter-container {
	display: flex;
	position: fixed;
	width: 100%;
	margin-top: 16px;
  top: 76px;
  right: 0;
	z-index: 99;
}

.top-15p {
	margin-top: 15%;
}

#profile-picture::after {
	display: none;
}

.uploadPP-label, .uploadChat-label {
	display: block;
	margin-bottom: 0;
	cursor: pointer;
}

.inputPP, .inputChat {
	display: none;
}

#profile-desc, #profile-desc:hover{
	color: inherit;
	cursor: default;
	text-decoration: none;
}

.profile-desc-edit {
	width: 100%;
  padding: 8px;
  border-radius: 0.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  min-height: 64px;
  max-height: 256px;
	background: rgba(0,0,0,.03);
  border: 2px solid;
	border-color: #9a92b8;
	height: auto;
}

#img{
	display: none;
}

.upload-area {
  height: 100%;
	display: flex;
}

.thumb-media {
	max-height: 128px;
	background: #eae9ed;
	display: block;
	user-select: none;
	-webkit-user-drag: none;
	object-fit: cover;
	max-width: 128px;
	border-radius: .5rem;
	border: 2px solid #6c757d;
	margin: 8px;
}

.upload-handler {
	padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0 0 .25rem .25rem;
  border-top: none;
	background-color: rgba(0,0,0,.03);
}

.upload-area.dragover {
	border: 2px dashed rgb(153, 146, 184);
	min-height: 48px;
	line-height: 48px;
}

.thumb-remove {
	width: 24px;
  height: 24px;
  background: #6c757d;
  display: block;
  position: absolute;
  margin-top: -24px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  color: #ced4da;
  user-select: none;
  transition: .2s all ease-in-out;
}

.thumb-remove:hover {
    color: #fff;
    background: #9992b8;
    box-shadow: 0 0 0 2px #6c757d;
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.upload-area h5 {
    text-align: center;
    color: #6c757d!important;
    line-height: 40px;
		margin: 0 auto;
}

#composeModal .modal-content {
  background-color: #EAE9ED;
}

.compose-m-body {
  margin-top: 1em 0;
}

#basic-addon1 {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#inputPassword {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#login {
	margin-left: auto;
}
#register, #login {
	min-width: 96px;
	text-align: center;
	transition: all .2s ease-in-out;
}
#register:hover, #login:hover {
	background: #dad6dd;
	border-radius: .25rem .25rem 0 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
}
#chats {
	position: fixed;
	transform: translateY(64px);
	opacity: 0;
	/*margin-left: 100%;*/
	background: #d9d8df;
	top: 0;
	left: 0;
	width: 0;
	width: 100vw;
	height: 100vh;
	/*transition: all .3s ease-in-out;*/
}
#chats .ui-resizable-handle {
	display: none;
}

.chat-posts {
	max-height: 70vh;
  overflow-y: scroll;
}
#chat-toggle {
	cursor: pointer;
	user-select: none;
}
.chat-container {
	height: inherit;
	display: block;
	transition: .2s all ease-in-out;
}
.chat-container .post-image {
	max-width: 256px;
	border: 1px solid;
	border-color: rgba(0,0,0,0.125);
	border-radius: .25em;
}
.chat-container .chat-posts .list-group-item .d-flex {
	animation: slide-down 0.6s ease forwards;
}

.chat-container .chat-posts .list-group-item {
	animation: fadeIn 0.6s ease forwards;
	border: none;
}
.chat-container.hidden {
	height: 0px !important;
	display: none;
	transition: .2s all ease-in-out;
}

.floating-card {
	width: 18rem;
	position: absolute;
	z-index: 1000;
	/* display: none; */
	float: left;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	/*top: 80px;*/
	left: 8px;
  margin-top: 64px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon-large {
	width: 32px;
	height: 32px;
	font-size: 32px;
}

.icon-like {
  /*background-image: url(../../images/ico/like.svg);*/
}

#comment {
	overflow: hidden;
	min-height: 38px;
	max-height: 152px;
  height: 38px;
}

.hastag:hover, .atmention:hover {
    background-color: hsla(253, 58%, 65%, 0.1);
		transition: all .2s ease-in-out;
		border-radius: .2em;
}
.hastag, .atmention {
    background-color: transparent;
		transition: all .2s ease-in-out;
    padding: .2em;
}

.markup {
	line-height: 1rem;
	text-indent: 0;
	color: hsla(275, 5%, 65%, 1);
	display: block;
	overflow-x: auto;
	padding: .7em;
	background: rgba(57, 43, 70, 0.9);
	border-color: hsla(275, 7%, 14%, .3);
	-webkit-box-sizing: border-box;
	border-radius: .7em;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
	font-size: 0.75rem;
	margin-top: 6px;
	max-width: 95%;
	white-space: pre-wrap;
	margin-bottom: 4px;
}

.nope {
  display: none;
}

/* Draggable rules */

.dashboard-left .ui-resizable-handle {
    right: 8px;
}

.posts-main .ui-resizable-handle {
    right: -15px;
		display: none;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: flex;
    touch-action: none;
    width: 8px;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    top: 0;
    height: 100%;
    right: 0px;
}

.ui-resizable-handle:after {
    content: "";
    display: block;
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #b4adb9;
    box-shadow: 0 10px 0 #b4adb9, 0 20px 0 #b4adb9;
}
/* ends here */

/* chat rules */

.server-icon {
	margin: 8px;
}

.server-list {
	padding-left: 0;
	margin: 0 auto;
	/* text-align: center; */
	/* justify-content: center; */
	width: 100%;
	background-color: rgba(251, 249, 251, 0.5);
	padding-top: 8px;
	padding-left: 12px;
	border-radius: .3em .3em 0 0;
  margin-top: 16px;
}

.servers-container {
	width: 100%;
	overflow: hidden;
	/*margin-top: 16px;*/
	/* background: rgba(0,0,0,0.1); */
	display: none;
}
.chat-block {
	padding: 0;
}
#_genchat {
	padding: 0;
}

#chats {
	top: 80px;
	width: 100%;
	height: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	display: block;
	max-width: 100%;
	/*z-index: 99;*/
	transition: none;
	display: none;
}

#chats.visible {
	display: block;
  transform: translateY(0%);
	opacity: 1;
  position: inherit;
	transition: all .2s ease-in-out;
  flex-grow: 1;
  transition-property: opacity, transform;
	transition-delay: .2	s;
}

#chats .fixed-chats {
    display: block;
}

/* ends here */

/* splash rules */

.bg-dash {
	background-image: url(../../images/ico/bg.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	background-repeat-y: no-repeat;
	background-size: cover;
}

/* ends here */

/* Hidding rules */

.dashboard-left {
	margin: 0;
	padding: 0;
	/*display: none;*/
}
.action-button {
	display: block;
  outline: none;
}
.compose {
	display: none;
}
.nav-avatar .name-container {
	overflow: hidden;
  text-overflow: ellipsis;
  width: 0px;
  padding: 0;
	transition: all .4s ease-in-out;
}
#pp {
  flex-grow: 1;
  margin: 0 8px;
}
.nav-avatar {
	padding: 0 2px;
}
#pp .dropdown {
	margin: 0 auto;
}

/* Ends here */

/* Landing */

section.first {
	overflow: hidden;
	z-index: 1;
	height: 100vh;
  margin-top: -40px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../images/ico/bg.svg) repeat-X center center;
	background-size: cover;
	opacity: 0;
	animation: fadeIn 2s ease forwards;
	animation-delay: .2s;
}

section.second .moving {
	opacity: 0;
	animation: slide-up 0.6s ease forwards;
	animation-delay: .8s;
}

.btn-primary.btn-landing {
	opacity: 0;
	animation: slide-up 0.6s ease forwards;
	animation-delay: 1.2s;
}
.btn-secondary.btn-landing {
	opacity: 0;
	animation: slide-up 0.6s ease forwards;
	animation-delay: 1s;
}

section.second {
  background-color: rgba(251, 249, 251, .5);
	z-index: 99;
	overflow: hidden;
	overflow-y: auto;
	height: 100vh;
  margin-top: -40px;
}

#logo-big {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../images/favicon/of.svg) repeat-X center center;
	background-size: cover;
	z-index: 99;
	width: 25%;
	height: 25%;
	border-radius: 50%;
	opacity: 0;
	animation: slide-up 0.6s ease forwards;
	animation-delay: .4s;
	width: 10em;
	height: 10em;
}

.btn-landing {
    line-height: 40px;
    width: 128px;
    border-radius: 32px;
		font-size: 20px;
}

/* ends here */

/* Notification stuff */
.new-posts {
  color: inherit;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  padding: 12px 8px;
  width: 100%;
  z-index: 2;
  margin: 0;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

#home.unread::after, #chat.unread::after {
    content: '';
    width: 6px;
    height: 6px;
    background: #9a92b8;
    z-index: 2;
    display: block;
    margin-top: -31px;
    position: absolute;
    border-radius: 50%;
}

.new-chat {
	width: 16px;
	height: 16px;
	background: #9a92b8;
	position: absolute;
	line-height: 24px;
	margin-top: 4px;
	border-radius: 50%;
	margin-left: 12px;
	margin-right: 0;
	right: 16px;
}

.new-posts:hover {
  background-color: #f7f7f7;
  border-radius: inherit;
  transition: .2s all ease-in-out;
}

.ripple {
	width: 256px;
	height: 256px;
	border-radius: 50%;
	background: rgba(154, 146, 184, .4);
	transform: scale(0);
	position: absolute;
	opacity: 1;
	overflow: hidden;
	top: -96px;
}
.rippleEffect {
	animation: rippleDrop;
  animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes rippleDrop {
	0% {
		transform: scale(0);
		opacity: 1;
	}
  10% {
    transform: scale(2);
    opacity: 0;
  }
	10.1% {
		transform: scale(0);
		opacity: 1;
	}
}


/* ends here */

/* Emojis */

.emoji-block {
	max-height: 256px;
	overflow-y: auto;
	min-width: 258px;
	width: 100%;
	padding-top: 0px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.emoji-list {
	flex-wrap: inherit;
	display: block;
}

.emoji {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0;
	user-select: none;
	padding: 2px;
}

.emoji:hover {
    background: rgba(0,0,0,0.125);
    border-radius: .125rem;
}
.emoji-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 28px;
  overflow: hidden;
}

/* ends here */

/* Embed */

.mini-logo {
    width: 24px;
    height: 24px;
    position: absolute;
    background: #aaa;
    z-index: 9;
    right: 24px;
    top: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../images/favicon/of.svg) repeat-X center center;
    border-radius: 50%;
}

.embed-card {
	position: relative;
	visibility: visible;
	display: block;
	max-width: 100%;
	min-width: 256px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.overlay {
	width: 100%;
	min-height: 256px;
	position: absolute;
	z-index: 99;
	opacity: .1;
	user-select: none;
}

/* ends here */

@media (min-width: 576px) {
	#login {
		margin-left: 0;
	}
	.navbar-right {
		/*flex-grow: 0;*/
	}
	#register {
    margin-left: auto;
	}
	#register, #login {
		min-width: initial;
		text-align: initial;
    transition: all .2s ease-in-out;
	}
	.nav-avatar .name-container {
		width: inherit;
		padding-right: 12px;
		padding-left: 12px;
		transition: all .4s ease-in-out;
	}
	#pp {
	  flex-grow: 0;
		margin-left: auto;
	}
	#pp .dropdown {
		margin: initial;
	}
	.nav-icon {
		flex-grow: 0;
	}
	.post-action {
	  display: flex;
	  margin-left: 8px;
	  border-radius: 12px;
	  padding-right: 8px;
	  padding-left: 2px;
	  transition: all .2s ease-in-out;
	}
	.share-text {
		display: flex;
	}

	#chats {
		top: 40px;
	}
	.servers-container {
		display: block;
	}
	.chat-block {
		padding: inherit;
		padding-right: 15px;
		padding-left: 15px;
	}
	#_genchat {
		padding: inherit;
	}
	.embed-card {
		    width: 500px;
	}
		.alter-container {
		  top: 48px;
		}
  .container-fluid {
    padding-top: 40px;
  }
  .SProfileCover {
    background-size: cover;
    transition: background-size .6s ease-in-out;
  }
	.BProfile {
		margin-right: 12px;
	}
	.BSug {
		display: block;
		padding-top: 8px;
	}
	.dashboard-left {
		display: block;
	}
	.dashboard-left.mob-hidden {
		display: block;
	}
	.action-button {
		display: none;
    outline: none;
	}
	.compose {
    display: block;
	}


}
@media (min-width: 1100px) {
	.posts-main .ui-resizable-handle {
		display: flex;
	}
	#chats {
		transform: translateY(0);
		opacity: 1;
		position: initial;
		margin-left: 0;
		width: initial;
		height: initial;
	  background: none;
		display: block;
    max-width: 33%;
	}
	#chats .fixed-chats {
		position: sticky;
    top: 40px;
	}
	#chats .ui-resizable-handle {
		display: flex;
	}

	.embed-card {
		    width: 600px;
	}

  .container-fluid {
    width: 85%;
    margin: 0 auto;
    transition: width .6s ease-in-out;
  }
  .SProfileCover {
    background-size: cover;
    transition: background-size .6s ease-in-out;
  }
}

/* Bootstrap theme fixes */

.form-control:focus {
    border-color: #9a92b8;
    outline: 0;
    box-shadow: none;
}

.btn-outline-secondary {
    border-color: #9a92b8;
}

.btn-outline-secondary:hover {
    /* background-color: #9a92b8; */
    /* border-color: #9a92b8; */
    box-shadow: inset 0px 0px 0px 4px #9a92b8;
    background: transparent;
    color: #611861;
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
    /* box-shadow: inset 0px 0px 0px 4px #9a92b8; */
    /* background: transparent; */
    background-color: #9a92b8;
    border-color: #9a92b8;
    color: #fff;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    background-color: #9a92b8;
    border-color: #9a92b8;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
    background-color: #9a92b8;
    border-color: transparent;
    transition: all .1s ease-in-out;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8c83af;
    border-color: #7f74a4;
    transition: all .2s ease-in-out;
}

.btn-primary {
    background-color: #9a92b8;
    border-color: #9b93b8;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fbf9fb;
    background-color: #9a92b8;
    border-color: #9a92b8;
    transition: all .2s ease-in-out;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: inset 0 0 0 0.2rem #8d84ae;
    transition: all .2s ease-in-out;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: inset 0 0 0 0.2rem #9a92b8;
    transition: all .2s ease-in-out;
}

a:hover {
  	color: #5941b1;
}
a {
   	color: #7669a5;
 }

s {
	text-decoration: none;
	color: #7669a5;
}
b {
	font-weight: 500;
}

/* Framework redefines */
.img-fluid {
    border-radius: .1rem;
}
.modal-body {
	padding: 0;
}
.ekko-lightbox .modal-footer {
	text-align: right;
	justify-content: flex-start;
}

/* animation res */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-upper {
    0% {
        opacity: 0;
        transform: translateY(64px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
